doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Magic the Gathering
    link(rel='stylesheet', type='text/css', href='style.css')
  body
    #nav
      h1 Forest vs. Mountain Duels
    //
      <form id="searchForm">
      <input type="text" id="userInput">
      <button type="button" id="userClick">Start</button>
      </form>
    #battlefield
      .playerCards.player2Field
      .playerCards.player1Field
    #panel
      h1 Dashboard
      button#playCard(type='button') Play card
      button#drawCard(type='button', onclick='drawCard(player1)') Draw card
      button#tapCard(type='button', onclick='') Tap/Untap card
      button#attack(type='button', onclick='') Attack
      button#endTurn(type='button', onclick='endTurnFunc()') End Turn
      h1.displayLife
        | P1 life: 
        span#p1Life 5
      h1.displayLife
        | P1 mana: 
        span#p1Mana 0
      h1.displayLife
        | P2 life: 
        span#p2Life 5
      h1.displayLife
        | P2 mana 
        span#p2Mana 0
      #messageHolder
        h1#messages Game alerts...
    #showHand
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js')
    script(type='text/javascript', src='script.js')